import chai from 'chai';
chai.should();
import chaiAsPromised from 'chai-as-promised';
import sinon from 'sinon';
import sinonChai from 'sinon-chai';
chai.use(sinonChai);
chai.use(chaiAsPromised);
import q from 'q';

import <%= service %> from '../../src/models/<%= service %>s.js';
import '../../src/services/queue/workers.js';
import modelsPromise from '../../src/models/index.js';
import { createTestServer } from '../helpers.js';

let testServer: Awaited<ReturnType<typeof createTestServer>> | null = null;

describe('<%= service %> Model (API → local /<%= endpoint %>)',function(){

    this.timeout(20000);

    let id;
    let id2;

    before(async function(){  /* jslint ignore:line */
        testServer = await createTestServer();
        const models = await modelsPromise;
        const model = models['<%= service %>s'] as { setBaseUrl?: (url: string) => void };
        if (model && typeof model.setBaseUrl === 'function') {
            model.setBaseUrl('http://localhost:' + testServer!.port);
        }
    });

    after(function(done){  /* jslint ignore:line */
        if (testServer && testServer.server) {
            testServer.server.close(done);
        } else {
            done();
        }
    });

    describe('Test CRUDS', function(){
        it('should save data', function(done){
            var my<%= objectCamelCase %> = <%= service %>.create({name: 'femi'});

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should read data', function(done){
            var my<%= objectCamelCase %> = <%= service %>.findOne({name: 'femi'});

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should read all data', function(done){
            var my<%= objectCamelCase %> = <%= service %>.find();

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('array'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should update data', function(done){
            var cb = sinon.spy();
            var my<%= objectCamelCase %> = <%= service %>.updateMany({name: 'femi'},{name: 'Olaoluwa'});

            my<%= objectCamelCase %>.then(function(_res){
                cb();
                cb.should.have.been.calledOnce; /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should update many data', function(done){
            var cb = sinon.spy();
            var my<%= objectCamelCase %> = <%= service %>.updateMany({name: 'femi'},{name: 'Olaoluwa Olanipekun'});

            my<%= objectCamelCase %>.then(function(_res){
                cb();
                cb.should.have.been.calledOnce; /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should search data', function(done){
            // Search needs more work for more accuracy
            var my<%= objectCamelCase %> = <%= service %>.search('femi');

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('array'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should delete data', function(done){
            var cb2 = sinon.spy();
            var our<%= objectCamelCase %> = <%= service %>.create([{name:'Olaolu'},{name: 'fola'},{name: 'bolu'}]);

            our<%= objectCamelCase %>.then(function(res){
                res.should.be.an('array'); /* jslint ignore:line */
                return <%= service %>.deleteOne({name: 'bolu'});
            }).then(function(_res){
                cb2();
                cb2.should.have.been.calledOnce; /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should delete many data', function(done){
            var cb = sinon.spy();
            var my<%= objectCamelCase %> = <%= service %>.deleteMany({name: 'femi'});

            my<%= objectCamelCase %>.then(function(_res){
                cb();
                cb.should.have.been.calledOnce; /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should add createdAt', function(done){
            var my<%= objectCamelCase %> = <%= service %>.create({name: 'this is for the gods'});

            my<%= objectCamelCase %>.then(function(res){
                id = res._id;
                res.should.have.property('createdAt');
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should add updatedAt', function(done){
            var my<%= objectCamelCase %> = <%= service %>.create({name: 'i am a demigod!'});
            my<%= objectCamelCase %>.then(function(res){
                id2 = res._id;
                return <%= service %>.updateMany({_id: id},{name: 'This is the titan'});
            })
            .then(function(_res){
                return <%= service %>.findById(id);
            })
            .then(function(res){
                res.should.have.property('updatedAt');
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should tag database entries properly', async function(){
            var my<%= objectCamelCase %> = await <%= service %>.create({name: 'femi',someOtherStringData: 'stuff'});
            
            return q.Promise(function(resolve, reject) {
            setTimeout(function(){
                <%= service %>.findById(my<%= objectCamelCase %>._id)
                .then(function(res){
                    res.should.be.an('object'); /* jslint ignore:line */
                    (Array.isArray(res.tags) || typeof res.tags === 'string').should.be.true; /* array (Mongo) or string (SQL/API) */
                    resolve(res);
                })
                .catch(function(err){
                    reject(err);
                });
            },5000);
            });
            
        });

        it('should count returned records', function(done){
            var my<%= objectCamelCase %> = <%= service %>.estimatedDocumentCount({name: 'This is the titan'});

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.a('number'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should find a record by id', function(done){
            var my<%= objectCamelCase %> = <%= service %>.findById(id);

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should find a record by id and delete', function(done){
            var my<%= objectCamelCase %> = (<%= service %> as unknown as { findByIdAndRemove: (id: string) => Promise<unknown> }).findByIdAndRemove(id2);

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should find a record by id and update', function(done){
            var my<%= objectCamelCase %> = <%= service %>.findByIdAndUpdate(id,{name: 'fufu'});

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should find the first match from a query', function(done){
            var my<%= objectCamelCase %> = <%= service %>.findOne({name: 'fufu'});

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should find the first match from a query and update', function(done){
            var my<%= objectCamelCase %> = <%= service %>.findOneAndUpdate({name: 'fufu'},{name: 'funmi'});

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

        it('should find the first match from a query and delete', function(done){
            var my<%= objectCamelCase %> = (<%= service %> as unknown as { findOneAndRemove: (query: object) => Promise<unknown> }).findOneAndRemove({name: 'funmi'});

            my<%= objectCamelCase %>.then(function(res){
                res.should.be.an('object'); /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });

    });
});
