import express, { Router } from 'express';
import <%= objectCamelCase %>sController, { type <%= service %>sControllerType } from '../controllers/<%= service %>s.js';

const router: Router = express.Router();
const service = '<%= namePlural %>';

const controller = <%= objectCamelCase %>sController as <%= service %>sControllerType;

// get <%= object %>s or search <%= object %>s
router.get('/' + service, controller.find);

// get schema for <%= object %>s
router.get('/' + service + '/schema', controller.getSchema);

// get <%= object %>
router.get('/' + service + '/:id', controller.findOne);

// To add validation, add a middleware like the below. Works for just POST calls only
// function(req: ExpressRequest, res: ExpressResponse, next: ExpressNext){
//     req._required = [ // _required should contain all the fields that are required
//     'name',
//     'name2'
//     ];
//
//     next();
// }, validator,

// create <%= object %>(s) a single <%= object %> object will create one <%= object %> while an array of <%= object %>s will create multiple <%= object %>s
router.post('/' + service, controller.create);

// update all records that matches the query
router.put('/' + service, controller.update);

// update a single record
router.patch('/' + service + '/:id', controller.updateOne);

// delete all records that matches the query
router.delete('/' + service, controller.delete);

// Delete a single record
router.delete('/' + service + '/:id', controller.deleteOne);

// restore a previously deleted record
router.post('/' + service + '/:id/restore', controller.restore);

export default router;
