import chai from 'chai';
chai.should();
import chaiAsPromised from 'chai-as-promised';
chai.use(chaiAsPromised);
import request from 'supertest';
import sinon from 'sinon';
import sinonChai from 'sinon-chai';
import mongoose from 'mongoose';
chai.use(sinonChai);
import _ from 'lodash';

import response from '../../src/services/response/index.js';
import express from 'express';
import bodyParser from 'body-parser';
import routers from '../../src/routes/index.js';

const app = express();
app.use(bodyParser.urlencoded({ extended: false }));
app.use(bodyParser.json());
app.use(response);
app.use(routers);

const agent = request.agent(app);

const res = {};
const req = {};
let nextChecker = false;
const next = function(){
    if(arguments.length > 0){
        console.log(arguments);
    }else{
        nextChecker = true;
    }
    return nextChecker;
};
res.json = function(data){
    return res;
};
res.badRequest = sinon.spy();
res.status = function(status){
    return res;
};
const header = {};
res.set = function(key, value){
    header[key] = value;
    return header[key];
};
req.get = function(key){
    return header[key];
};
header.set = function(data){
    header.temp = data;
    return header.temp;
};
req.method = '';

let tag;
const objId1 = new (mongoose.Types as any).ObjectId('59abab38ead925031a71496d');
const objId2 = new (mongoose.Types as any).ObjectId('59abab38ead925031a71496e');
const objId3 = new (mongoose.Types as any).ObjectId('59abab38ead925031a71496c');
let last;
let oneId;
let oneId2;
const from = new Date(new Date().setMinutes(new Date().getMinutes() - 3)).toISOString();
describe('/<%= object %>s', function(){

    before(function(done){
        import('../../src/services/queue/workers.js').then(() => {
            agent
            .get('/initialize')
            .then(function(resp){
                tag = resp.body.data['x-tag'];
                done();
            })
            .catch(function(err){
                done(err);
            });
        });
    });

    it('should create a document', function(done){
        agent
        .post('/<%= object %>s')
        .set('x-tag',tag)
        .send({name: 'femi2'})
        .then(function(resp){
            oneId = resp.body.data._id;
            done();
        })
        .catch(function(err){
            done(err);
        });
    });

    it('should create documents', function(done){
        agent
        .post('/<%= object %>s')
        .set('x-tag',tag)
        .send([{name: 'femi',toPop: oneId},{name: 'tolu',toPop: oneId},{name: 'femi2',toPop: oneId},{name: 'bola',toPop: oneId}])
        .then(function(resp){
            oneId2 = resp.body.data[0]._id;
            resp.body.data.length.should.be.above(0);
            done();
        })
        .catch(function(err){
            done(err);
        });
    });
    

    describe('Find', function(){
        it('should search for matching documents for a given string', function(done){
            agent
            .get('/<%= object %>s?search=femi')
            .set('x-tag',tag)
            .expect(200, done);
        });
        it('should limit the number of returned documents',function(done){
            agent
            .get('/<%= object %>s?limit=2')
            .set('x-tag',tag)
            .then(function(resp){
                resp.body.data.length.should.equal(2);
                done();
            })
            .catch(function(err){
                done(err);
            });
        });
        it('should contain count of total record for the query', function(done){
            agent
            .get('/<%= object %>s')
            .set('x-tag',tag)
            .then(function(resp){
                resp.body.total.should.exist; /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });
        it('should return the last document Id in the array of documents returned from a query', function(done){
            agent
            .get('/<%= object %>s?limit=2')
            .set('x-tag',tag)
            .then(function(resp){
                last = resp.body.lastId;
                resp.body.lastId.should.exist; /* jslint ignore:line */
                done();
            })
            .catch(function(err){
                done(err);
            });
        });
        it('should sort documents in ascending order', function(done){
            agent
            .get('/<%= object %>s?sort=name')
            .set('x-tag',tag)
            .expect(200,done);
        });
        it('should sort documents in descending order', function(done){
            agent
            .get('/<%= object %>s?sort=-name')
            .set('x-tag',tag)
            .expect(200,done);
        });
        it('should select just few parameters from the documents', function(done){
            agent
            .get('/<%= object %>s?select=name')
            .set('x-tag',tag)
            .expect(200,done);
        });
        // it('should populate data of a reference for multiple data', function(done){ ... });
        // it('should populate data of a reference for single data', function(done){ ... });

        it('should load next page for pagination', function(done){
            agent
            .get('/<%= object %>s?lastId='+last+'')
            .set('x-tag',tag)
            .expect(200,done);
        });
        it('should filter by date range', function(done){
            agent
            .get('/<%= object %>s?from='+from+'&to='+new Date().toISOString())
            .set('x-tag',tag)
            .then(function(resp){
                resp.body.data.length.should.be.above(0);
                done();
            })
            .catch(function(err){
                done(err);
            });
        });
        it('should filter by date range without setting the end date', function(done){
            agent
            .get('/<%= object %>s?from='+from)
            .set('x-tag',tag)
            .then(function(resp){
                resp.body.data.length.should.be.above(0);
                done();
            })
            .catch(function(err){
                done(err);
            });
        });
    });

it('should find one document', function(done){
    agent
    .get('/<%= object %>s/'+oneId+'')
    .set('x-tag',tag)
    .then(function(resp){
        resp.body.data.should.be.an('object');
        done();
    })
    .catch(function(err){
        done(err);
    });
});
it('should update documents', function(done){
    agent
    .put('/<%= object %>s?name=femi')
    .set('x-tag',tag)
    .send({name: 'Bukola'})
    .then(function(resp){
        resp.body.data.should.be.a('array');
        done();
    })
    .catch(function(err){
        done(err);
    });
});
it('should update a document', function(done){
    agent
    .patch('/<%= object %>s/'+oneId+'')
    .set('x-tag',tag)
    .send({name: 'Bukola'})
    .then(function(resp){
        resp.body.data.should.exist; /* jslint ignore:line */
        done();
    })
    .catch(function(err){
        done(err);
    });
});

describe('Delete', function(){

    it('should delete multiple data', function(done){
        agent
        .delete('/<%= object %>s?name=femi2')
        .set('x-tag',tag)
        .then(function(resp){
            resp.body.data.should.be.an('array');
            done();
        })
        .catch(function(err){
            done(err);
        });
    });

    it('should delete one data', function(done){
        agent
        .delete('/<%= object %>s/'+oneId+'')
        .set('x-tag',tag)
        .then(function(resp){
            resp.body.data.should.be.an('object');
            done();
        })
        .catch(function(err){
            done(err);
        });
    });
});

describe('Restore', function(){
    it('should restore a previously deleted data', function(done){
        import('../../src/models/index.js').then((m) => {
            const models = m.default;
            const Trash = models.Trash;
            const tid = oneId;
            setTimeout(function(){
                Trash.findOne({'data._id': tid})
                .then(function(resp){
                    return agent
                    .post('/<%= object %>s/'+resp._id+'/restore')
                    .set('x-tag',tag);
                })
                .then(function(resp){
                    resp.body.data.should.be.an('object');
                    done();
                })
                .catch(function(err){
                    done(err);
                });
            },5000);
        }).catch(done);
    });
});
});
